<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"> <!--addAttribute로 보낸 값을 사용할수 있는 thymleaf 주소-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 >회원가입 결과 : <span th:text="${result2}"></span></h1> <!--addAttribute로 보낸 result값 사용-->
    <ul>
        <li>아이디 : <span th:text="${member.getId()}"></span></li>
        <li>패스워드 : <span th:text="${member.getPass()}"></span></li>
        <li>이름 : <span th:text="${member.getName()}"></span></li>
        <li>주소 : <span th:text="${member.getAddress()}"></span></li>
    </ul>
</body>
</html>